<div class="row">
  <div class="col-sm-12"><h3>Appeared in:</h3></div>
  <div class="col-sm-2">
    <ul>
      {{#each movie in content}}
        <li>{{movie.name}}</li>
      {{/each}}
    </ul>
  </div>
</div>
