<div class="row">
  <div class="col-sm-12"><h3>Appeared in:</h3></div>
  <div class="col-sm-2">
    <ul>
      {{#each movie in content}}
      <li>
        {{#link-to "appearances.show" movie}}
          {{movie.name}}
        {{/link-to}}
      </li>
      {{/each}}
    </ul>
  </div>
  <div class="col-sm-10">
    {{outlet}}
  </div>
</div>
