<h1>Welcome EMDb!</h1>
<form role="form">
  <div class="form-group">
    {{input type="text" value=query class="form-control" placeholder="Search for actors and movies"}}
  </div>
</form>

<h2>Actors</h2>
<ul>
{{#each actor in actors}}
  <li>{{actor.name}}</li>
{{/each}}
</ul>

<h2>Movies</h2>
<ul>
{{#each movie in movies}}
  <li>{{movie.name}}</li>
{{/each}}
</ul>
